.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 10px;
    align-items: center;
}
.logo{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
ul{
    list-style: none;
    display: flex;
    color: white;
    margin-right: 10px;
}
li{
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.awesome-container{
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
span{
    font-weight: bold;
    font-size: 30px;
}
.b1{
    background-color: rgb(111, 111, 255);
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 3px;
    transition: transform .3s ease-in-out;
}
.b1:hover{
    transform: scale(1.2)
  }
.awesome-left{
    margin-left: 10px;
    padding-right: 45px;
}
.awesome-right{
    margin-right: 10px;
}
.website{
    color: white;
}
.bike1{
    width: 350px;
    border-radius: 40px 5px 40px 5px;
    filter: saturate(130%);
    filter: contrast(110%);
}
.bike{
    width: 230px;
    border: 3px solid rgb(128, 128, 250);
    border-radius: 10px 10px 10px 10px;
    
}
.random-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.random-info{
    padding: 50px;
    font-size: 30px;
    font-weight: bold;
}
.collage{
    display: flex;
    gap: 20px;
}
.quote-container{
    display: flex;
    background: linear-gradient(#1F2937, rgb(223, 223, 223));
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    padding: 50px;
}
.quote{
    font-size: 30px;
    font-style: italic;
}